{% extends 'base.html' %}
{% load static %}

{% block title %}About Us | Tuff Stuff Moving{% endblock %}

{% block css %}
<link href="{% static 'css/contact.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <h1>Contact page</h1>

    <div class="cards-container">
        <div class="card-container">
            <div>🏠</div>
            <h2>Benefit #1</h2>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Explicabo, officiis.</p>
        </div>

        <div class="card-container">
            <div>🏠</div>
            <h2>Benefit #2</h2>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Explicabo, officiis.</p>
        </div>

        <div class="card-container">
            <div>🏠</div>
            <h2>Benefit #3</h2>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Explicabo, officiis.</p>
        </div> 

        <div class="card-container">
            <div>🏠</div>
            <h2>Benefit #4</h2>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Explicabo, officiis.</p>
        </div>

        <div class="card-container">
            <div>🏠</div>
            <h2>Benefit 51</h2>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Explicabo, officiis.</p>
        </div>

        <div class="card-container">
            <div>🏠</div>
            <h2>Benefit #6</h2>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Explicabo, officiis.</p>
        </div>
    </div>

{% endblock %}

{% block scripts %}
{% endblock %}
